<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.cssı">
      <title>Checkout</title>
    </head>
    <body>
    <div class="container">
        <h2>Thank You for Shopping with Amadon!! We Thank You for Your Business.</h2>
        <p>You just completed a purchase for {{ quant }} {{ type }}s</p>
        <p>We charged your card a total of ${{ total }}</p>
        <p>So far you have purchased {{ run_quant }} items for a total of ${{ run_cost }}</p>
        <h4>Please visit us again soon...</h4>
        <a href="/amadon">Return to the Main Page</a>  
    </div>
    </body>
</html>